BL/Connected Services/SRVReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetDis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourceLng" type="xs:double" />
        <xs:element minOccurs="0" name="sourceLat" type="xs:double" />
        <xs:element minOccurs="0" name="toLng" type="xs:double" />
        <xs:element minOccurs="0" name="toLat" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDisResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>